.skills-section1 {
  background: linear-gradient(135deg, #f6f4f4, #145aab);
  color: #030303;
  min-height: 100vh;
  padding: 4.1rem 1.5rem 2rem !important; /* top adjusted for sticky navbar */
  font-family:'Times New Roman', Times, serif;

}

.main-skill-card {
  background: rgba(122, 135, 148, 0.9) !important;
  color: #263ea8;
  border: 1px solid #f2efef;
  border-radius: 1rem;
  width: 30rem;
  height: 15rem;
  transition: all 0.3s ease;
  cursor: pointer;
  box-shadow: 0 0 2px rgb(253, 253, 253);
  padding: 2rem;
}

.main-skill-card:hover {
  transform: translateY(-6px);
  border-color: #141515;
}

.skill-card {
  background: rgba(75, 76, 78, 0.9);
  color: #ede8e8 !important;
  border-radius: 1rem;
  padding: 1.5rem;
  transition: transform 0.3s ease, border-color 0.3s ease;
}

.skill-card:hover {
  transform: translateY(-5px);
  border: 1px solid #5e6966;
}

.skill-card ul li {
  font-size: 1rem;
  padding: 0.3rem 0;
  color: #000000;
}
.text-muted {
    --bs-text-opacity: 1;
    color: rgba(255, 255, 255, 0.75) !important;
}
/* Buttons */
.custom-btn,
.custom-btn-outline {
  border-radius: 50px;
  font-weight: 600;
  transition: all 0.3s ease;
}

.custom-btn {
  background-color:transparent;
  color: #000000;
  border: 1px solid;
}

.custom-btn:hover {
  background-color: transparent;
  color: #eceeed;
  border: 2px solid #090909;
}

.custom-btn-outline {
  color: #000000;
  border: 2px solid #000000;
  background: transparent;
}

.custom-btn-outline:hover {
  background-color: #286dd4;
  color: #0a192f;
}

.skill-card ul li {
    font-size: 1rem;
    padding: 0.3rem 0;
    color: #ffffff;
}
/* Responsive */
@media (max-width: 768px) {
  .skills-section1 h2 {
    font-size: 1.8rem;
  }
 .skill-card {
    padding: 0.6rem 0.4rem;
  }

  .skill-card ul li {
    font-size: 0.85rem;
  }
}
